.image-container {
  display: grid;
  padding-bottom: 20px;
  padding-top: 20px;
  border-style: solid;
  margin: 5px;
}

.txt1 {
  padding-left: 5px;
  font-size: large;
  margin: 3px 50px;
  color: black;
}

.txt2 {
  padding-left: 5px;
  font-size: medium;
  margin: 3px 50px;
  color: rgb(255, 153, 0);
}

.txt3 {
  padding-left: 5px;
  font-size: medium;
  margin: 3px 50px;
  color: rgb(126, 45, 72);
}

.txt4 {
  padding-left: 5px;
  font-size: medium;
  margin: 3px 50px;
  color: rgb(9, 255, 0);
}

.txt5 {
  padding-left: 5px;
  font-size: medium;
  font-display: initial;
  margin: 3px 50px;
  color: rgb(172, 128, 10);
}

.txt6 {
  padding-left: 5px;
  font-size: medium;
  margin: 3px 50px;
  color: rgb(34, 11, 248);
}

.txt7 {
  padding-left: 5px;
  font-size: medium;
  margin: 3px 50px;
  color: rgb(248, 11, 11);
}

.green {
  background-color: rgb(54, 228, 92);
  margin: 3px 20px;
}

.grey {
  background-color: rgb(235, 240, 236);
  margin: 3px 20px;
}